@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Avondale College Booking Form</h1>
    <p>Booking form for Avondale College Sports Facilities.</p>
</div>
